---
import Header from '../components/Header.astro';
import TaskApp from '../components/TaskApp.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MisTareas</title>
</head>
<body>
    <Header />
    <div class="content-wrapper">
        <TaskApp />
    </div>
    <Footer />
</body>
</html>

<style is:global>
  * { box-sizing: border-box; margin: 0; padding: 0; }
  
  html, body {
    height: 100%;
    background-color: #111;
    color: white;
    font-family: 'Outfit', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content-wrapper {
    flex: 1;           /* Esto obliga a esta sección a ocupar todo el alto sobrante */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Opcional: centra las tarjetas verticalmente si hay pocas */
  }
</style>
